.habilidades {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 100vw;
    height: 400px;
    background: #161616;
    gap: 16px;
}

.habilidades-itens {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.habilidades-logo {
    width: 42px;
    height: 42px;
}

.habilidades-titulo {
    position: relative;
    font-size: 1.5em;
    font-weight: 700;
    color: var(--cor-secundaria);
    bottom: 20px;
}

@media screen and (min-width: 768px) {
    .habilidades {
        height: 100vh;
        justify-content:center;
    }

    .habilidades-titulo {
        font-size: 2.5em;
        
    }

    .habilidades-logo {
    width: 84px;
    height: 84px;
}
}
