@import url('../styles/reset.css');
@import url('../styles/header.css');
@import url('../styles/banner.css');
@import url('../styles/about.css');
@import url('../styles/skills.css');
@import url('../styles/carrossel.css');
@import url('./footer.css');

:root {
    --cor-cinza: #828282;
    --cor-cinza-escuro: #4F4F4F;
    --cor-principal: #E0E0E0;
    --cor-secundaria: #70FF00;
    --cor-menu-nav: #272727;
    --font-principal: 'Roboto', 'sans-serif';
    --font-secundaria: 'Courier Prime', 'sans,serif';
    --cor-caixa: linear-gradient(rgba(112, 255, 0, 0.55),
    rgba(255, 255, 255, 1));
    --bg-body: linear-gradient(to top right, #000000 0%, 
    #272727 44.03%, #494949 99.99%, #727272 100%); 
    --bg-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.25);
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    height: 100vh;
    background: var(--bg-body);
    font-family: var(--font-principal);
}
